<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Test Suite">
    <test verbose="2" name="C:/Users/satya/IdeaProjects/TutorialsNinja">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="com.tutorialsninja.testscripts.login.TC001LoginWithValidCredentialTest"/>
            <class name="com.tutorialsninja.testscripts.login.TC002LoginWithInvalidCredentialTest"/>
            <class name="com.tutorialsninja.testscripts.register.TC001ValidateUIDataOfRegistrationPageTest"/>
        </classes>
    </test>
</suite>